<template>
<div class="wrapper">
  <div class="container">
    <p>There was an error completing your search: {{searchError}}</p>
  </div>
</div>
</template>

<script>
export default {
  props: {
    searchError: {
      type: String,
      required: true
    }
  }
}
</script>

<style scoped>
.wrapper {
  width: 100%;
  background-color: white;
  position: relative;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  color: red;
  font-size: 1.5rem;
  text-align: center;
}
</style>
