<template>
<div class="wrapper">
  <div class="container">
    <h1>{{heading}}</h1>
  </div>
  <div>
    <search-input @dosearch="handleSearch" :searching="searching" />
  </div>
  <carousel-component :term="searchTerm" @togglesearching="toggleSearching" />
  <search-error :searchError="searchError" v-if="searchError"/>
</div>
</template>

<script>
import CarouselComponent from '../carousel/Carousel'
import SearchInput from '../userInput/SearchInput'
import ErrorComponent from '../error/SearchError'

export default {
  data () {
    return {
      heading: 'Carousel Test',
      searchTerm: '',
      searching: false,
      searchError: false
    }
  },

  methods: {
    toggleSearching (bool) {
      this.searching = bool
    },

    handleSearch (term) {
      console.log('[handleSearch] term -->', term)
      this.searchTerm = term
    }
  },

  components: {
    CarouselComponent,
    SearchInput,
    ErrorComponent
  }
}
</script>

