<template>
<div class="wrapper">
  <div class="container">
    <form action="#" @submit.prevent="handleSubmit">
      <div class="field">
        
        <input type="text" id="searchTerm" v-model="term" required>
        <label for="searchTerm">What would you like to search for?</label>
      </div>
      <button type="submit" :disabled="searching">Search</button>
    </form>
  </div>
</div>
</template>

<script>
export default {
  props: {
    searching: {
      type: Boolean,
      default: false
    }
  },

  data () {
    return {
      term: ''
    }
  },

  methods: {
    handleSubmit () {
      if (this.searching) return
      this.$emit('dosearch', this.term)
    }
  }
}
</script>

<style scoped>
.wrapper {
  background-color: white;
}
form {
  text-align:center;
  padding: 1.5rem 0;
}
.field {
  display: inline-block;
  position: relative;
}
label {
  position: absolute;
  top: .75rem;
  left: .5rem;
  color: grey;
  transition: all .25s ease;
}
input {
  font-size: 1.5rem;
  border-width: 0 0 2px;
  border-color: #186A94;
  padding: .5rem;
  font-family:'Ropa Sans', sans-serif;
  width: 15rem;
}
input:focus {
  outline: none;
}
input:focus + label, input:valid ~ label {
  top: -.75rem;
  font-size: 0.8rem;
}
button {
  background-color: #186A94;
  color: white;
  border: 2px solid #186A94;
  padding: .5rem 1rem;
  font-size: 1.25rem;
}
</style>
