<template>
<li>
  <figure>
    <img :src="previewSrc" alt="image" />
  </figure>
</li>
</template>

<script>
export default {
  props: {
    item: {
      type: Object,
      required: true
    }
  },

  computed: {
    keys () {
      return Object.keys(this.item)
    },
    previewWidth () {
      return this.item.previewWidth
    },
    webWidth () {
      return this.item.webformatWidth
    },
    previewSrc () {
      return this.item.previewURL
    },
    webSrc () {
      return this.item.webformatURL
    }
  }
}
</script>

<style scoped>
li {
  display: block;
  box-sizing: border-box;
  flex: 0 0 100%;
  padding: .5rem 1rem;
  transform: translate3d(0,0,0);
  backface-visibility: hidden;
  perspective: 1000;
}

figure {
  display: block;
  width: 100%;
  height: 0;
  margin: 0;
  padding: 100% 0 0;
  position: relative;
  overflow: hidden;
}

img {
  display: block;
  min-width: 100%;
  width: auto;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
</style>
