<template>
<div class="wrapper" v-if="!error">
  <div class="container">
    <transition-group
      class="carouselItems"
      tag="ul"
      :name="transitionName"
    >
      <carousel-item
        v-for="item in carouselContent"
        :key="item.id"
        :item="item"
      />
    </transition-group>
  </div>
  <div class="buttons">
    <button @click.stop="prev" class="prev">Prev</button>
    <button @click.stop="next" class="next">Next</button>
  </div>
</div>
</template>

<script>
import axios from 'axios'

import config from '~/app.config'
import CarouselItem from './CarouselItem'

export default {
  props: {
    term: {
      type: String,
      default: 'kittens'
    }
  },

  data () {
    return {
      results: null,
      error: false,
      activeIndex: 0,
      transitionName: 'carouselNext',
      transitioning: false
    }
  },

  computed: {
    carouselContent () {
      if (!this.results) return null
      return [this.getResult(-2), this.getResult(-1), this.results[this.activeIndex], this.getResult(1), this.getResult(2)]
    }
  },

  watch: {
    term: {
      handler: 'doSearch',
      immediate: true
    }
  },

  methods: {
    doSearch () {
      this.$emit('toggleSearching', true)
      axios.get(`${config.apiUrl}?key=${config.apiKey}&q=${this.term}&image_type=photo&orientation=horizontal&per_page=6`, {})
      .then(response => {
        this.$emit('toggleSearching', false)
        this.$emit('error', false)
        this.error = null
        this.results = response.data.hits
      })
      .catch(error => {
        this.$emit('toggleSearching', false)
        this.$emit('error', error)
        this.error = error
      })
    },

    getResult (shift) {
      const length = this.results.length
      const postShift = this.activeIndex + shift
      if (postShift < 0) return this.results[length + postShift]
      if (postShift >= length) return this.results[postShift - length]
      return this.results[postShift]
    },

    next () {
      if (this.transitioning) return
      this.transitionName = 'carouselNext'
      this.activeIndex = (this.activeIndex === this.results.length - 1) ? 0 : this.activeIndex + 1
      this.transitioning = true
      this.unsetTransitioning()
    },

    prev () {
      if (this.transitioning) return
      this.transitionName = 'carouselPrev'
      this.activeIndex = (this.activeIndex === 0) ? this.results.length - 1 : this.activeIndex - 1
      this.transitioning = true
      this.unsetTransitioning()
    },

    unsetTransitioning () {
      setTimeout(() => {
        this.transitioning = false
      }, 500)
    }
  },

  components: {
    CarouselItem
  }
}
</script>

<style scoped>
.wrapper {
  background-color: white;
  position: relative;
  padding: 2rem 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  display: flex;
  justify-content: center;
  align-items: stretch;
  overflow: visible;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  width: 100%;
}

@media (max-width: 767px) {
  .buttons {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    pointer-events: none;
  }
  button {
    position: absolute;
    top: 50%;
    width: 50%;
    height: 50%;
    border-radius: 50%;
    background-color: rgba(255,255,255,0.5);
    border: none;
    pointer-events: all;
  }
  .next {
    right: 0;
    left: auto;
    transform: translate(50%, -50%);
  }
  .prev {
    left: 0;
    right: auto;
    transform: translate(-50%, -50%);
  }
}

@media (min-width: 768px) {
  ul {
    max-width: 33.33%;
  }

  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }

  button {
    background: #186A94;
    color: white;
    padding: .5rem 1rem;
    border: 0;
    margin: 0 .5rem;
  }
}

@media (min-width: 1024px) {
  ul {
    max-width: 20%;
  }
}

.carouselNext-enter {
  margin-right: -100%;
}
.carouselPrev-enter {
  margin-right: 100%;
}
.carouselNext-leave-to {
  margin-left: -100%;
}
.carouselPrev-leave-to {
  margin-right: -100%;
}
.carouselNext-enter-active,
.carouselPrev-enter-active,
.carouselNext-leave-active,
.carouselPrev-leave-active
.carouselNext-move,
.carouselPrev-move {
  transition: all .5s ease-in-out;
}
</style>
