<template>
<carousel-wrapper />
</template>

<script>
import CarouselWrapper from './components/app/CarouselWrapper'

export default {
  components: {
    CarouselWrapper
  }
}
</script>

<style>
body {
  font: 16px/1.3 'Ropa Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #E9EEE7;
}
.wrapper {
  width: 100vw;
}
.container {
  width: calc(100vw - 2rem);
  max-width: 75rem;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
h1 {
  color: #026898;
  font-size: 3rem;
}
</style>
